/*----Universal----*/

* {
  margin: 0;
  font-family: 'Raleway', sans-serif;', serif;
}

body {

}

/*----Header----*/

.background {
  background: #454545 url("../img/courthouse.jpg") no-repeat top;
  height: 900px;
  background-size: cover;
  background-attachment: fixed;
}

header {
  padding: 10px 0;
  background-color: rgba(0,0,0,0.8);
}

.header {
  margin-bottom: 150px;
}

.logo {
  text-align: left;
  margin-left: 2%;
  float: left;
}

.callUs h4 {
  font-size: 1.3rem;
  text-transform: capitalize;
  padding-top: 10px;
}

.logo h4 {
  text-transform: uppercase;
}

.logo h1, .logo h4, .logo span, .desktopMenu li, #developer, .callUs h1, .callUs h4, .mainH1 h1, .contactH1 h1, .officeInfo h1 {
    font-family: 'Raleway', sans-serif;
}

.callUs {
  text-align: right;
  margin-right: 2%;
  color: #fff;
  float: right;
}

/*----Menu----*/

a:link, a:visited {
  color: #fff;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
}

.callUs a:hover {
  color: #2d5c88;
}

.mobileMenu li:hover, .desktopMenu li:hover {
  background-color: #2d5c88;
}

.desktopMenu {
  display: block;
  text-align: center;
  clear: both;
  border-top: 3px solid #2d5c88;
  background-color: rgba(0,0,0,0.9);
}

.desktopMenu li {
  text-transform: uppercase;
  list-style: none;
  display: inline-block;
  padding: 20px 10px;
  margin-left: 5px;
}

#menuBtn, #menu, .mobileMenu {
  display: none;
}

.desktopMenu ul {
  padding-left: 0;
}

/*----Footer----*/

footer {
  clear:both;
  text-align:center;
  width:100%;
  height:100%;
  padding-bottom: 10px;
  background-color: rgba(0,0,0,0.8)
}

footer .desktopMenu {
  margin-bottom: 20px;
}

footer p {
  margin-bottom: 10px;
}

#developer {
  color:#fff;
}

#developer:hover {
  color: #2d5c88;
}

.social img {
  width: 40px;
  height: 40px;
}

/*----Home Page----*/

.mainH1 {
  text-align: center;
  margin: 4% auto;
  width: 70%;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
}

.mainH1 h1 {
  text-transform: capitalize;
  padding: 10px 0 50px;
}

.mainH1 label, .contactH1 label {
  color: #fff !important;
}

.cognito {
  margin: 0 10%;
}

.wrapper {
  max-width: 90%;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.about h1, .services h1, .homeMain h1 {
  font-size: 3rem;
  margin: 40px 0 30px;
  color: #2d5c88;
  font-family: 'Raleway', sans-serif;
}

.about h3, .homeMain h3, .homeSecondary h3 {
  margin: 50px 0 10px;
  font-size: 1.7rem;
  font-family: 'Raleway', sans-serif;
}

.about p, .homeMain p, .homeSecondary p {
  line-height: 1.4;
}

.homeSecondary {
  margin: 60px 0 100px;
}

.homeSecondary h1 {
  font-size: 2.5rem;
  color: #2d5c88;
  font-family: 'Raleway', sans-serif;
}

.homeSecondary a:link, .homeSecondary a:visited {
  color: #000;
}

.homeSecondary a:hover {
  color: #2d5c88;
}

a.readMore:link, a.readMore:visited {
  font-family: 'Raleway', sans-serif;;
  float: right;
  margin-top: 20px;
  color: #2d5c88;
  text-decoration: underline;
}

/*----Our Attorneys Page----*/



/*----Practice Areas Page----*/


/*----Contact Page----*/

.backgroundContact {
  margin-bottom: 20px;
  height: 100%;
  background: #f6f6f6 url('../img/officespace.jpg') top no-repeat;
  background-size: cover;
}

.backgroundCover {
  background-color: rgba(45,92,136,0.5);
  padding: 1px;
}

.contactH1 {
  text-align: center;
  margin: 2% auto;
  width: 70%;
  background-color: rgba(0,0,0,0.7);
  color: #fff;
}

.contactH1 h1 {
  text-transform: capitalize;
  padding: 10px 0 50px;
}

.contactLink a:link, .contactLink a:visited {
  color: #2d5c88;
}

ul.contactDetails {
  padding-left: 0;
}

.officeInfo {
  width: 50%;
  margin: 70px auto;
  text-align: center;
}

.contactLink {
  line-height: 2;
  font-size: 1.5rem;
}

.officeInfo h1, .contactH1 h1, .contactMap h1, .mainH1 h1 {
  font-size: 3rem;
}

.officeInfo h1, .contactMap h1 {
  border-bottom: 1px solid #2d5c88;
}

.contactMap {
  clear: both;
  width: 70%;
  text-align: center;
  margin: auto auto 100px;
}

.cognito form {
  text-align: left;
  margin: 0 60px;
}

.c-label label {
  font-size: 1.3rem;
  line-height: 1.4;
}

/*----About Page----*/

.backgroundAbout {
  margin-bottom: 20px;
  height: 350px;
  background: #fff url('../img/lawBuilding.jpg') top no-repeat;
  background-size: cover;
}

.about {
  margin-bottom: 100px;
}

/*----Media----*/

@media screen and (max-width: 840px) {
  header {
    margin-bottom: 0;
  }

  .logo {
    text-align: right;
    margin-right: 2%;
    float: right;
  }

  .callUs {
    clear: right;
  }

  h1.jumboHeader {
    font-size: 1.6rem;
  }

  .menuBtn div {
  	position: relative;
  	left: 100%;
  	top: 64%;
  	line-height: 1.2;
  	font-size: 18px;
  	font-weight: 200;
  	vertical-align: middle;
  	z-index: 99;
  }

  .menuBtn span {
  	display: block;
  	width: 32px;
  	height: 3px;
  	margin: 6px 13px;
  	background: #fff;
  	z-index: 99;
  }

  .desktopMenu {
    display: none;
  }

  #menubar {
    padding-left: 10px;
  }

  .menuBtn {
    cursor:pointer;
    float: left;
  }

  .mobileMenu {
  	position: fixed;
  	top: 0;
  	left: -250px;
  	width: 250px;
  	height: 100%;
  	background: #fff;
  	z-index: 100;
    display: block;
  }

  .mobileMenu h3 {
    position: relative;
    padding: 15px 10px;
    color: #fff;
    background-color: #2d5c88;
    font-size: 1.8em;
    border-bottom: 5px solid #2d5c88;
  }

  .mobileMenu a:link, .mobileMenu a:hover, .mobileMenu a:visited {
    color: #2d5c88;
  }

  .mobileMenu .mobileMenuToggle {
  	position: absolute;
  	top: 14px;
  	right: 10px;
  	display: inline-block;
  	padding: 5px 10px 5px;
  	font-family: 'Raleway', sans-serif;
  	font-weight: bold;
    background: #fff;
  	line-height: 1;
  	text-decoration: none;
  	vertical-align: top;
  }

  .mobileMenu ul {
  	list-style: none;
    padding-left: 0;
  	border-top: 1px solid #2d5c88;
  	border-bottom: 1px solid #2d5c88;
  }

  .mobileMenu ul li {
  	border-top: 1px solid #2d5c88;
  	border-bottom: 1px solid #2d5c88;
    padding: 13px;
    font-size: 1.2rem;
  }

  .mobileMenu ul li:hover {
    background: rgba(45,92,136,0.5);
  }

  .mobileMenu a:hover {
    color: #fff;
  }

  a.mobileMenuToggle:hover {
  color: #2d5c88;
  }

  .mobileMenu ul li a {
  	position: relative;
  	display: block;
  	color: #fff;
  	text-decoration: none;
  }

  .logo img {
    height: 100px;
  }

  .logo h4 {
    display: none;
  }

  .cognito {
    margin: 0;
  }

  .mainH1, .contactH1, .officeInfo, .contactMap {
    width: 90%;
  }

  .about h1, .services h1, .homeMain h1 {
    font-size: 3rem;
  }

  .homeMain h3, .homeMain h1, .homeSecondary h1, .homeSecondary h3, .about h1, .about h3 {
    text-align: center;
  }

  .cognito form {
    text-align: left;
    margin: 0 10px;
  }

  .about p, .homeMain p, .homeSecondary p {
    text-align: justify;
  }

  footer p {
    padding-top: 20px;
  }
}
