{% extends "main.twig" %}

{% block title %}About{% endblock title %}

{% block background %}
  <div class="backgroundAbout">
{% endblock background %}

{% block backgroundBottom %}
  </div>
{% endblock backgroundBottom %}

{% block content %}
  <div class="about">
    <h1>About White, Wyne, and Bree</h1>
      <h3>About the Firm</h3>
        <p>WWB was founded six years ago by James White, Charlotte Wyne, and Carolyn Bree. WWB brings a unique perspective due to the various experience and backgrounds between James White, Charlotte Wyne, and Carolyn Bree. WWB believes this unique perspective creates value for our clients no matter how large or small they may be.</p>
        <br>
        <p>The attorneys at WWB combine what they have learned working for law firms in metropolitan areas to the attentiveness of an esteemed local firm. WWB has a reputation for providing legal counsel with integrity and a high level of skill and we strive to keep that reputation. James White, Charlotte Wyne, and Carolyn Bree all believe in holding themselves to high ethical and moral standards. This is clearly something our clients value as we are constantly praised for it.</p>
      <h3>How We Can Help</h3>
        <p>White, Wyne, and Bree LLC. has over 50 years of corporate law experience between James White, Charlotte Wyne, and Carolyn Bree. WWB specializes in matters regarding intellectual property, mergers & acquisitions, corporate tax law, and employment & labor law. WWB has clients ranging from small businesses to Fortune 500 companies. We look forward to putting our experience to work for you. <a href="{{siteUrl('/contact')}}">Contact Us Now</a>!</p>
  </div>
{% endblock content %}
