{% extends "main.twig" %}

{% block title %}Contact{% endblock title %}

{% block head %}
<script src="https://services.cognitoforms.com/s/SkK_LHLpKUmLPQLt_eXuZQ"></script>
{% endblock head %}

{% block background %}
  <div class="backgroundContact">
{% endblock background %}

{% block backgroundBottom %}
    <div class="backgroundCover">
      <div class="contactH1">
        <h1>Contact Us</h1>
        <div class="cognito">
          <script>Cognito.load("forms", { id: "4" });</script>
        </div>
      </div>
    </div>
  </div>
{% endblock backgroundBottom %}

{% block content %}
  <div class="pageContent">
    <div class="officeInfo">
      <h1>Office Information</h1>
        <p class="contactLink">Address: <a href="https://www.google.com/maps/place/3045+SW+Archer+Rd,+Gainesville,+FL+32608/@29.625652,-82.3791787,14z/data=!4m2!3m1!1s0x88e8a3231716d183:0x69c047c542ab2618?hl=en-US">118 N. Julian St. Savannah, GA 31401</a></p>
        <p class="contactLink">Phone: <a href="tel:555-555-5555">352-555-0191</a></p>
        <p class="contactLink">Fax: <a href="tel:555-555-5555">352-555-0192</a></p>
    </div>
  </div>
  <div class="contactMap">
    <h1>Directions</h1>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3380.5815999928113!2d-81.09538768483878!3d32.080563470581104!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88fb9e6695ae8e11%3A0xa15adf86d0e2f70e!2s118+W+Saint+Julian+Street%2C+Savannah%2C+GA+31401!5e0!3m2!1sen!2sus!4v1461187586576" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
{% endblock content %}
