{% extends "main.twig" %}

{% block title %}Our Attorneys{% endblock title %}

{% block content %}
  <div class="about">
    <h1>WWB&#039;s Attorneys</h1>
      <h3>James White</h3>
        <p>James White brought his extensive corporate tax law experience to White, Wyne, and Bree. Mr. White graduated summa cum laude from the University of Wisconsin studying political science and psychology. Mr. White then attended the New York University School of Law, graduating magna cum laude. Finally, he received his LL. M. focusing on tax law from Georgetown University Law Center.</p>
        <br>
        <p>Mr. White started out at a law firm in Washington D.C. and quickly worked up their ranks. After choosing to leave D.C., Mr. White spent eleven years managing a prestigious law firm in Boston. Looking for warmer climates he moved south to Atlanta and spent five years managing an innovative law firm there. Finally, looking for a change of pace decided to move his family to Savannah.</p>
        <br>
        <p>Mr. White provides leadership, expertise, and experience to the WWB team. Mr. White is our managing partner and our most senior member. He has been named one of the Best Lawyers in America four times in the category of corporate tax law.</p>
      <h3>Charlotte Wyne</h3>
        <p>Charlotte Wyne joins WWB after moving East from San Francisco. She graduated cum laude from the University of California Los Angeles studying philosophy. Mrs. Wyne then attended the Stanford University School of Law.</p>
        <br>
        <p>Mrs. Wyne has worked in corporate law for nearly twenty years focusing on Mergers & Acquisitions as well as Employment & Labor Law. After graduating from Stanford, she moved to San Francisco and began her law career there. She worked for a prestigious law firm in San Francisco before moving north to Seattle. Mrs. Wyne worked for a law firm in Seattle for five years before her husband&#039;s career took him to Jacksonville, FL. After spending a few years in Jacksonville, she moved the two hours north to Savannah seven years ago.</p>
      <h3>Carolyn Bree</h3>
        <p>Carolyn Bree is our Intellectual Property and Employment & Labor Law expert. Ms. Bree graduated magna cum laude from University of Georgia studying political science. Upon graduating from University of Georgia, Ms. Bree attended the University of Florida&#039;s Levin College of Law graduating cum laude.</p>
        <br>
        <p>Ms. Bree began her law career in Jacksonville, FL working for a prestigious law firm who specialized in Corporate Law. After spending a few years in Jacksonville, moved to Savannah and has loved every moment of it. Ms. Bree provides a local flair and expertise of the area.</p>
  </div>
{% endblock content %}
