{% extends "main.twig" %}

{% block title %}Practice Areas{% endblock title %}

{% block content %}
  <div class="about">
    <h1>White, Wyne, and Bree's Areas of Practice</h1>
      <h3 id="intellectual">Intellectual Property</a></h3>
        <p>White, Wyne, and Bree&#039;s intellectual property division provides counsel on a wide range of business and legal issues.</p>
        <br>
        <p>Our division works with all sizes of company. We have experience working with small businesses, national brands, and everything in between. We work with companies in may industries including health care, software, financial, construction, and nonprofit.</p>
        <br>
        <p>WWB&#039;s attorneys will prosecute and defend against actions for infringement. This division represents clients during disputes around trademarks and help guide your company through the trademark trial. WWB can also create license rights to trademarks, patents, and copyrights. This division works with clients to strategize the use of their intellectual property resources.</p>
      <h3 id="merger">Mergers & Acquisitions</a></h3>
        <p>White, Wyne, and Bree&#039;s mergers and acquisitions division has provided their expertise to many companies over the years, with industries including technology, manufacturing, and consumer products and services.</p>
        <br>
        <p>WWB approaches all mergers and acquisitions with our client&#039;s best interest in mind. WWB believes that our lawyers provide value through risk limitation and transaction structuring in a cost-effective manner. WWB works closely with our clients to understand their risks. This allows WWB to structure a deal that achieves our client&#039;s business objectives.</p>
        <br>
        <p>Our attorneys have years of experience in the negotiation of acquisitions and mergers. WWB&#039;s lawyers have expertise in both the financial and strategy of mergers, restructures, and acquisitions. WWB&#039;s legal expertise in matters pertaining to mergers and acquisitions include litigation, tax, labor, antitrust, intellectual property, and securities. WWB understands every case involving mergers and acquisitions is unique and our lawyers help clients effectively and efficiently meet their goals.</p>
      <h3 id="labor">Employment & Labor Law</a></h3>
        <p>White, Wyne, and Bree&#039;s employment and labor division are experts in working with businesses including private companies, publicly traded companies, governmental entities, and nonprofits. WWB&#039;s employment and labor division has relationships with clients of all sizes. WWB works collaboratively to improve employee/employer relations and avoid legal liability.</p>
        <br>
        <p>WWB provides employer-centric advice on sensitive discipline and termination questions to individuals in management and human resources. WWB will also conduct audits of our client&#039;s corporate on-boarding process and training to ensure clients keep these up to date with the ever-evolving legal requirements to prevent liability. WWB provides reviews of employee handbooks and policies.</p>
        <br>
        <p>Our attorneys assist clients in responding to inquiries from the government, including wage investigations, I-9 audits, and EEOC and DOL investigations. Additionally, WWB can prepare employment contracts as well as confidentiality and restrictive covenant agreements. If an issue surrounding employment escalates to an administrative investigation, arbitration, or lawsuit, our attorneys will represent the client before the agency or arbitral forum overseeing the inquiry. WWB will also represent our clients in state and federal trial and appellate courts throughout the United States.</p>
      <h3 id="tax">Corporate Tax Law</a></h3>
        <p>White, Wyne, and Bree&#039;s corporate taxation division provides outstanding counsel for clients who have questions on a bevy of tax issues. WWB&#039;s attorneys actively practice in federal tax-exempt status, federal and state income tax, federal estate and gift taxation, and employee benefits.</p>
        <br>
        <p>James White has an advanced masters degrees (LL.M.) in tax law from Georgetown University. James White helps you navigate the confusing and cumbersome corporate tax law system. The expertise James White brings to WWB&#039;s team cannot be understated, providing counsel in regards to how your Intellectual Property, Merger & Acquistion, or Employment & Labor Law case will affect your corporate taxes and tax status.</p>
    </div>
{% endblock content %}
